[Unit]
Description=Bitcoin node (bcd)
After=network.target

[Service]
Type=simple
ExecStart=/root/go/bin/btcd --configfile=/data2/.btcd/btcd.conf
ExecReload=/root/go/bin/btcd --configfile=/data2/.btcd/btcd.conf

[Install]
WantedBy=multi-user.target